{% extends "layout.html" %}

{% block title %}Rollie NoWaste | {{ title }}{% endblock %}

{% block content %}

<div class="form-wrapper">
  <div class="info-card">
    <div class="form-header">
      <h2>Garbage Classifier</h2>
    </div>
    <div class="scanner">
      <video id="reader" autoplay></video>
      <canvas id="canvas" style="display:none;"></canvas>
      <div id="result">Waiting for item...</div>
      <button id="nextBtn" class="btn-submit">Next Item</button>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/classifier.js') }}"></script>

{% endblock %}
