{% extends "layout.html" %}
{% block content %}

<div class="form-wrapper">
  <div class="form-card">
    <div class="form-header">
      <h2>Sign in</h2>
    </div>
    <div class="form-body">
      <form method="POST" action="{{ url_for('signin') }}">
        {{ form.hidden_tag() }}
        
        <div class="form-field">
          {{ form.email.label(class="form-label") }}
          {% if form.email.errors %}
          {{ form.email(class="form-input invalid") }}
          <div class="form-error">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.email(class="form-input") }}
          {% endif %}
        </div>
        
        <div class="form-field">
          {{ form.password.label(class="form-label") }}
          {% if form.password.errors %}
          {{ form.password(class="form-input invalid", id="password") }}
          <div class="form-error">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.password(class="form-input") }}
          {% endif %}
        </div>

        <div class="show-password-container">
          <label for="show-password">
            <input type="checkbox" id="show-password" class="custom-checkbox"> Show Password
          </label>
        </div>
        
        <button type="submit" class="btn-submit">{{ form.submit.label }}</button>
      </form>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/show_pwd.js') }}"></script>

{% endblock %}
