<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">    
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='print.css') }}">
  <title>Rollie NoWaste | Print Card</title>
</head>

<body onload="window.print()">
  <div class="card">
    <div class="qr">
      <img src="{{ url_for('serve_qr') }}" alt="QR Code">
    </div>
    <div class="details">
      <div class="logo">Rollie NoWaste</div>
      <div class="name">{{ user.name }}</div>
      <div class="id">ID: {{ user.unique_id }}</div>
    </div>
  </div>
</body>
</html>